body {
  text-align: center;
  color: #979797;
}

.welcome-message {
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 5px;
}

strong {
  color: black;
}

div {
  color: black;
  margin-bottom: 20px;
}

input {
  color: lightgray;

  display: inline-block;
  font-size: 16px;
  border: 2px solid lightgray;
  border-radius: 30px;
  padding: 10px 0px 10px 20px;
  text-align: left;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
}

input:focus {
  outline: none;
  border-color: black;
  color: black;
}

#email-btn {
  background-color: rgb(77, 123, 243);
  border: 0px solid #4d7bf3;
  border-radius: 30px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(77, 123, 243, 0.3);
  outline: none;
}

#email-btn:hover {
  background-color: rgba(77, 123, 243, 0.85);
}

.dashboard-img {
  width: 700px;
  margin: 70px;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.fab {
  color: #4d7bf3;
}

.logo {
  margin-top: 50px;
}

#email-error {
  font-style: italic;
  color: red;
  text-align: left;
  font-size: 0.8em;
}

.form {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 400px 150px;
}

.grid-item {
  width: auto;
  height: 50px;
  margin: 5px;
}

.show-error {
  visibility: visible;
  padding-left: 30px;
}

.hidden {
  visibility: hidden;
  height: 0px;
  margin: 0;
}

.socials {
  color: inherit;
}

@media all and (max-width: 500px) {
  .welcome-message {
    font-size: 1.5rem;
  }
  .form {
    grid-template-columns: 90%;
  }
  .dashboard-img {
    width: 90%;
    margin: 0;
  }

  #email-btn {
    order: 1;
  }
  #email-error {
    font-size: 0.6em;
    text-align: center;
  }
  .copyright {
    font-size: 0.7em;
  }
  .show-error {
    margin: 0px, auto, 30px;
    padding: 0;
  }
}
